<div class="header-left" fxLayout>
  <button app-button color="primary" clash="grid-btn">
    <span>
      <mat-icon svgIcon="grid" [inline]="true"></mat-icon>
    </span>
  </button>
  <button app-button color="primary" class="home-btn">
    <span>
      <mat-icon svgIcon="home" [inline]="true"></mat-icon>
    </span>
  </button>
  <button app-button color="primary" class="boards-btn" fxLayout fxLayoutAlign="center center">
    <span>
      <mat-icon svgIcon="trello" [inline]="true"></mat-icon>
    </span>
    <span>
      Boards
    </span>
  </button>
</div>
<div class="header-center" fxLayoutAlign="center center">
  <span>
    <mat-icon svgIcon="trello" [inline]="true"></mat-icon>
  </span>
  <h1>
    Jrello
  </h1>
</div>
<div class="header-right" fxLayoutAlign="end">
  <button app-button color="primary" class="add-btn">
    <span app-icon class="icon-add">
    </span>
  </button>
  <button app-button color="primary" class="information-btn">
    <span>
      <mat-icon svgIcon="information" [inline]="true"></mat-icon>
    </span>
  </button>
  <button app-button color="primary" class="notification-btn">
    <span>
      <mat-icon svgIcon="notification" [inline]="true"></mat-icon>
    </span>
  </button>
</div>
