<div class="header-left" fxLayout>
  <button app-button color="primary" clash="grid-btn" appTooltip="Not supported">
    <span>
      <mat-icon svgIcon="grid" [inline]="true"></mat-icon>
    </span>
  </button>
  <button app-button color="primary" class="home-btn" appTooltip="Not supported">
    <span>
      <mat-icon svgIcon="home" [inline]="true"></mat-icon>
    </span>
  </button>
  <button app-button color="primary" class="boards-btn" fxLayout fxLayoutAlign="center center"
    appTooltip="Not supported">
    <span>
      <mat-icon svgIcon="trello" [inline]="true"></mat-icon>
    </span>
    <span>
      Boards
    </span>
  </button>
</div>
<div class="header-center">
  <a href="https://trello.com/" fxLayoutAlign="center center">
    <span>
      <mat-icon svgIcon="trello" [inline]="true"></mat-icon>
    </span>
    <h1>
      Jrello
    </h1>
  </a>
</div>
<div class="header-right" fxLayoutAlign="end">
  <button app-button color="primary" class="add-btn" appTooltip="Not supported">
    <span app-icon color="secondary" class="icon-add">
    </span>
  </button>
  <button app-button color="primary" class="information-btn" appTooltip="Not supported">
    <span>
      <mat-icon svgIcon="information" [inline]="true"></mat-icon>
    </span>
  </button>
  <button app-button color="primary" class="notification-btn" appTooltip="Not supported">
    <span>
      <mat-icon svgIcon="notification" [inline]="true"></mat-icon>
    </span>
  </button>
</div>
