:host {
  display: inline-block;
  flex-shrink: 0;

  width: 272px;
  height: 100%;

  margin: 0 4px;

  white-space: nowrap;

  &:first-child {
    margin-left: 8px;
  }

  &:last-child {
    margin-right: 8px;
  }

  &.cdk-drag-placeholder {
    > div {
      position: relative;

      &:after {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 3px;
        background-color: rgba(0, 0, 0, 0.12);
        z-index: 100;
        content: "";
      }

      .list-content {
        visibility: hidden;
      }
    }
  }

  &.cdk-drag-preview {
    > div {
      box-shadow: 0 12px 24px -6px rgba(9, 30, 66, 0.25),
        0 0 0 1px rgba(9, 30, 66, 0.08);
      transform: rotate(4deg);
    }
  }

  > div {
    max-height: 100%;
    width: 100%;
  }
}

.list-content {
  max-height: 100%;
  width: 100%;
  padding: 8px;
  border-radius: 3px;

  background-color: #ebecf0;

  .list-cards {
    min-height: 1px;
    margin: 0 -4px;
    padding: 0 4px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .card-composer {
    padding-top: 2px;

    .add-card {
      text-align: left;

      .icon-add {
        position: relative;
        font-size: 23px;
        font-weight: 300;

        &:before {
          position: absolute;
          left: 0;
          right: 0;
          top: -1px;
          content: "+";
        }
      }
    }

    .card-templates-btn {
      width: 32px;
      line-height: 1;

      span {
        display: inline-block;
        width: 14px;
        height: 14px;
        vertical-align: middle;
      }
    }
  }
}

.list-actions {
  .subscribed {
    position: relative;

    &:after {
      position: absolute;
      top: 3px;
      left: 0;
      right: 0;
      margin: auto;
      width: 4px;
      height: 9px;
      border: solid #42526e;
      border-width: 0 1px 1px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      content: "";
    }
  }
}

.card-templates-dd-content {
  p {
    text-align: center;
    margin-bottom: 12px;
  }

  button {
    width: 100%;
  }
}

.copy-list {
  > label {
    margin: 4px 0;
    font-weight: 700;
    color: #5e6c84;
    font-size: 12px;
    line-height: 16px;
  }

  > textarea {
    height: 72px;
    width: 100%;
    margin: 4px 0 12px;
    padding: 8px 12px;
    border-color: rgba(9, 30, 66, 0.13);
    box-shadow: inset 0 0 0 1px rgba(9, 30, 66, 0.13);
    transition: 85ms ease;

    &:focus {
      box-shadow: inset 0 0 0 2px #0079bf;
    }
  }
}

.copy-list,
.move-list {
  > button {
    width: auto;
    margin: 8px 4px 0 0;
    padding: 0 24px;
  }
}

.move-list {
  > div:first-child {
    margin-bottom: 8px;
  }
}
