:host {
  display: block;
  position: relative;
  margin-bottom: 8px;

  > div {
    position: relative;

    max-width: 300px;
    // min-height: 32px;

    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);

    background-color: #fff;

    cursor: pointer;

    &:hover {
      background-color: #f4f5f7;
      border-bottom-color: rgba(9, 30, 66, 0.25);

      .icon-edit {
        visibility: visible;

        &:hover {
          background-color: #ebecf0;
          opacity: 1;
        }
      }
    }
  }

  &.cdk-drag-placeholder {
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border-radius: 3px;
      background: rgba(9, 30, 66, 0.04);
      z-index: 100;
      content: "";
    }

    > div {
      opacity: 0;
    }
  }

  &.cdk-drag-preview {
    > div {
      box-shadow: 0 12px 24px -6px rgba(9, 30, 66, 0.25),
        0 0 0 1px rgba(9, 30, 66, 0.08);
      transform: rotate(4deg);

      .icon-edit {
        visibility: visible;
        background-color: #ebecf0;
        opacity: 1;
      }
    }
  }
}

.icon-edit {
  position: absolute;
  visibility: hidden;

  top: 2px;
  right: 2px;

  height: 28px;
  width: 28px;
  line-height: 1;

  background-color: #f4f5f7;
  opacity: 0.8;

  z-index: 1;

  span {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
  }
}

.card-details {
  position: relative;
  padding: 6px 8px 2px;
  overflow: hidden;

  > span {
    display: block;
    margin-bottom: 4px;
    word-wrap: break-word;
    white-space: normal;
  }

  .badges {
    margin-left: -2px;

    span {
      height: 14px;
      width: 14px;
      margin: 0 4px 4px 0;
      padding: 5px;
      color: #5e6c84;
      overflow: hidden;
      vertical-align: top;
    }
  }
}
