<ng-container *ngrxLet="card$ as card">
  <button app-button-cancel class="close-dialog" (click)="close()">
  </button>
  <div class="card-detail">
    <div class="card-archive-banner" *ngIf="card?.closed">
      <span app-icon>
        <mat-icon svgIcon="archive" [inline]="true">
        </mat-icon>
      </span>
      <p>This card is archived</p>
    </div>
    <div class="card-detail-header">
      <div class="card-title-container">
        <span app-icon>
          <mat-icon svgIcon="template" [inline]="true">
          </mat-icon>
        </span>
        <div class="card-title" fxFlex>
          <h2>{{card?.name}}</h2>
          <textarea #cardTitleRef #autosize="cdkTextareaAutosize" spellcheck="false" [ngModel]="card?.name"
            (ngModelChange)="onChangeCardTitle($event, card)" (keydown.enter)="blur($event)"
            [ngModelOptions]="{updateOn: 'blur'}" cdkTextareaAutosize cdkAutosizeMinRows="1"></textarea>
        </div>
      </div>
      <div class="card-header-inline-content" fxLayoutAlign="start center">
        <p>in list <a #listNameRef href="#" app-link (click)="moveCardListNameRef.show()">{{(list$ | async)?.name}}</a>
        </p>
        <span *ngIf="card?.subscribed" app-icon class="watch-icon">
          <mat-icon svgIcon="watch" [inline]="true"></mat-icon>
        </span>
      </div>
    </div>
    <div fxLayoutAlign class="card-detail-content">
      <div class="card-detail-main-content" fxLayout="column">
        <div class="window-module card-detail-desc">
          <div class="module-title" fxLayoutAlign="start center">
            <span app-icon>
              <mat-icon svgIcon="description" [inline]="true">
              </mat-icon>
            </span>
            <h3>
              Description
            </h3>
            <button *ngIf="!isEditingDesc && card?.desc" app-button color="dialog" class="edit-btn"
              (click)="onOpenEdit()">
              Edit
            </button>
          </div>
          <div class="description-content" *ngIf="!isEditingDesc; else edit">
            <a *ngIf="!card?.desc; else desc" href="#" (click)="onOpenEdit()">
              Add a more detailed description...
            </a>
            <ng-template #desc>
              <p (click)="onOpenEdit()">
                {{card?.desc}}
              </p>
            </ng-template>
          </div>
          <ng-template #edit>
            <div class="description-edit" *ngIf="isEditingDesc">
              <textarea #descRef [ngModel]="card?.desc" placeholder="Add a more detailed description..."
                cdkTextareaAutosize cdkAutosizeMinRows="5"></textarea>
              <div>
                <button app-button color="green" class="save-edit"
                  (click)="onEditDescription(descRef.value, card)">Save</button>
                <button app-button-cancel (click)="isEditingDesc = false"></button>
              </div>
            </div>
          </ng-template>
        </div>
        <div class="window-module card-detail-activity">
          <div class="module-title" fxLayoutAlign="space-between center">
            <span app-icon>
              <mat-icon svgIcon="activity" [inline]="true">
              </mat-icon>
            </span>
            <h3>
              Activity (To Do)
            </h3>
            <div>
              <button app-button color="dialog" appTooltip="To Do">
                Show Details
              </button>
            </div>
          </div>
        </div>

      </div>
      <div class="card-detail-sidebar">
        <div class="window-module">
          <h3>Add To Card</h3>
          <div fxLayout="column">
            <button app-button color="dialog" fxLayoutAlign="start center" appTooltip="Not Supported">
              <span app-icon>
                <mat-icon svgIcon="members" [inline]="true"></mat-icon>
              </span>
              <span>Members</span>
            </button>
            <button app-button color="dialog" fxLayoutAlign="start center" appTooltip="To Do">
              <span app-icon>
                <mat-icon svgIcon="labels" [inline]="true"></mat-icon>
              </span>
              <span>Labels</span>
            </button>
            <button app-button color="dialog" fxLayoutAlign="start center" appTooltip="To Do">
              <span app-icon>
                <mat-icon svgIcon="checklist" [inline]="true"></mat-icon>
              </span>
              <span>Checklist</span>
            </button>
            <button app-button color="dialog" fxLayoutAlign="start center" appTooltip="To Do">
              <span app-icon>
                <mat-icon svgIcon="clock" [inline]="true"></mat-icon>
              </span>
              <span>Due Date</span>
            </button>
            <button app-button color="dialog" fxLayoutAlign="start center" appTooltip="Not Supported">
              <span app-icon>
                <mat-icon svgIcon="attachment" [inline]="true"></mat-icon>
              </span>
              <span>Attachment</span>
            </button>
            <button app-button color="dialog" fxLayoutAlign="start center" appTooltip="Not Supported">
              <span app-icon>
                <mat-icon svgIcon="cover" [inline]="true"></mat-icon>
              </span>
              <span>Cover</span>
            </button>
          </div>
        </div>
        <div class="window-module">
          <h3>Actions</h3>
          <div fxLayout="column">
            <button #moveCardRefBtn app-button color="dialog" fxLayoutAlign="start center" (click)="moveCardRef.show()">
              <span app-icon>
                <mat-icon svgIcon="arrow-right" [inline]="true"></mat-icon>
              </span>
              <span>Move</span>
            </button>
            <button app-button color="dialog" fxLayoutAlign="start center" appTooltip="To Do">
              <span app-icon>
                <mat-icon svgIcon="copy" [inline]="true"></mat-icon>
              </span>
              <span>Copy</span>
            </button>
            <button app-button color="dialog" fxLayoutAlign="start center" appTooltip="Not Supported">
              <span app-icon>
                <mat-icon svgIcon="template" [inline]="true"></mat-icon>
              </span>
              <span>Make Template</span>
            </button>
            <button app-button color="dialog" fxLayoutAlign="start center" (click)="onToggleWatch(card)">
              <span app-icon>
                <mat-icon svgIcon="watch" [inline]="true"></mat-icon>
              </span>
              <span>Watch</span>
              <span *ngIf="card?.subscribed" class="subscribed-on">on</span>
            </button>
            <hr>
            <button *ngIf="!card?.closed; else deleteForm" app-button color="dialog" fxLayoutAlign="start center"
              class="archive-btn" (click)="onArchiveCard(card)">
              <span app-icon>
                <mat-icon svgIcon="archive" [inline]="true"></mat-icon>
              </span>
              <span>Archive</span>
            </button>
            <button app-button color="dialog" fxLayoutAlign="start center" appTooltip="Not Supported">
              <span app-icon>
                <mat-icon svgIcon="share" [inline]="true"></mat-icon>
              </span>
              <span>Share</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #deleteForm>
    <button app-button color="dialog" fxLayoutAlign="start center" (click)="onRestoreCard(card)">
      <span app-icon>
        <mat-icon svgIcon="replay" [inline]="true"></mat-icon>
      </span>
      <span>Send to board</span>
    </button>
    <button #deleteBtnRef app-button color="danger" fxLayoutAlign="start center" (click)="deleteRef.show()">
      <span app-icon class="remove">
      </span>
      <span>Delete</span>
    </button>
    <app-dropdown #deleteRef [reference]="deleteBtnRef.el">
      <span title>Delete Card?</span>
      <div class="dropdown-content card-templates-dd-content">
        <p>All actions will be removed from the activity feed and you won’t be able to re-open the card. There is no
          undo.</p>
        <button app-button color="danger" (click)="onDeleteCard(card)">Delete</button>
      </div>
    </app-dropdown>
  </ng-template>

  <app-dropdown #moveCardRef [reference]="moveCardRefBtn.el">
    <span title>Move Card</span>
    <ng-container *ngTemplateOutlet="moveCardTmp"></ng-container>
  </app-dropdown>

  <app-dropdown #moveCardListNameRef [reference]="listNameRef.el">
    <span title>Move Card</span>
    <ng-container *ngTemplateOutlet="moveCardTmp"></ng-container>
  </app-dropdown>

  <ng-template #moveCardTmp>
    <div class="dropdown-content move-card">
      <h4>Select destination</h4>
      <div class="form-grid">
        <div app-select-form>
          <label>Board</label>
          <span class="list-value">Jean Trello</span>
          <select [ngModel]="0">
            <option [value]="0">Jean Trello</option>
          </select>
        </div>
      </div>
      <div class="form-grid">
        <div app-select-form fxFlex="75">
          <label>List</label>
          <span class="list-value">{{listSelect.options[listSelect.selectedIndex]?.text}}</span>
          <select #listSelect [ngModel]="(list$ | async)?.id" (ngModelChange)="fetchPosition($event)">
            <option *ngFor="let list of lists$| ngrxPush; let i = index" [value]="list.id">{{ list.name }}</option>
          </select>
        </div>
        <div app-select-form fxFlex="25">
          <label>Position</label>
          <span class="list-value">{{+movePosition + 1}}</span>
          <select [(ngModel)]="movePosition">
            <option *ngFor="let position of getPositionList(cards$ | async, card, listSelect.value); let i = index"
              [value]="i">
              {{ i + 1 }} {{i === currentPosition && listSelect.value === card?.idList ? '(current)': '' }}
            </option>
          </select>
        </div>
      </div>
      <button app-button color="green"
        (click)="onMoveCard(card, listSelect.value); moveCardRef.hide(); moveCardListNameRef.hide()">Move</button>
    </div>
  </ng-template>
</ng-container>
