.dropdown-container {
  width: 304px;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 8px 16px -4px rgba(9, 30, 66, 0.25),
    0 0 0 1px rgba(9, 30, 66, 0.08);
  overflow: hidden;

  &.secondary {
    background: #ebecf0;
  }

  hr {
    margin: 8px 0;
  }
}

.dropdown-header {
  position: relative;
  height: 40px;
  margin-bottom: 8px;
  text-align: center;

  > span {
    display: block;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(9, 30, 66, 0.13);
    margin: 0 12px;
    padding: 0 32px;
    line-height: 40px;
    color: #5e6c84;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    z-index: 1;
  }

  > button {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    color: #6b778c;
    padding: 10px 12px 10px 8px;
    z-index: 2;
  }

  .btn-cancel {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 4px;
    margin: auto;
    color: #6b778c;
    padding: 10px 12px 10px 8px;
    z-index: 2;

    &:before,
    &:after {
      height: 12px;
      width: 1px;
    }
  }
}

.dropdown-content {
  padding: 0 12px 12px;

  .dropdown-list {
    li {
      a {
        position: relative;
        display: block;
        padding: 6px 12px;
        margin: 0 -12px;
        font-weight: 400;
        text-decoration: none;
        cursor: pointer;

        &:hover {
          background-color: rgba(9, 30, 66, 0.04);
        }

        &:active {
          background-color: #e4f0f6;
        }
      }
    }
  }

  button {
    width: 100%;
  }
}
